# Ignore .env files
.env
admin-empresa/.env
admin-personal/.env
backend/.env
frontend-empresa/.env
frontend-personal/.env

# Ignore .next directories
admin-empresa/.next/
admin-personal/.next/
frontend-empresa/.next/
frontend-personal/.next/
admin-empresa/.next/*
admin-personal/.next/*
frontend-empresa/.next/*
frontend-personal/.next/*

# Ignore node_modules
backend/node_modules/